{% extends 'login/base.html' %}
{% block title %}Login page{% endblock %}
{% block content %}
<div class="box_col">
    <strong><p style="text-align: center; margin-bottom: 1.5rem; font-size:1.25rem;">Login !</p></strong>
    <div class="box-outer-content">
        <div class="box-inner-content">
            <div class="form-group-message">
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                {% endfor %}
            </div>
            {% if not user.is_authenticated %} <!--Show this page user is not already logged in-->
            <form action="" method="post">
                {% csrf_token %} <!--Cross Site Reference Token, Used to validate forms. Mandatory for sending data-->
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username" value="{{data.username}}" Required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" value="{{data.password}}" Required>
                </div>
                <div class="form-group">
                    <label>Verification Code</label>
                    <input type="text" class="form-control" placeholder="Press button below for code" name="code">
                    <button type="submit" style="padding: .4rem ;margin-top:.40rem" name="R_OTP">Request OTP</button> <!--Adds a button for Requesting OTP-->
                </div>
                <div class="Buttons">
                    <button type="submit" class="btn" name="Register" formnovalidate>Register</button> <!--Adds a button for logging in-->
                    <button type="submit" class="btn" style="margin-left: 0.5rem;" name="Login">Log in</button> <!--Adds a button for logging in-->
                </div>
            </form>

            {% else %} <!--Show this page which only shows username when user is already logged in-->
            <form method="post">
                {% csrf_token %}
                <tr>
                    <td>Username:</td>
                    <td>{{user.username}}</td>
                    <br>
                    <td>Email:</td>
                    <td>{{user.email}}</td>
                </tr>
            </form>
            <div style="display:flex">        
                <form action="/pass">
                    <button type="submit">Back</button>
                </form>
                <form action="/login/logout/" method="post">
                    {% csrf_token %}
                    <button type="submit">Log Out</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock%}