{% extends 'login/base.html' %}
{% block title %}Login page{% endblock %}
{% block content %}
    <h1>Login !</h1>
    {% if not user.is_authenticated %} <!--Show this page user is not already logged in-->
    <form action="" method="post">
        {% csrf_token %} <!--Cross Site Reference Token, Used to validate forms. Mandatory for sending data-->
        {{form.as_p}}
        <td>Verification Code:</td>
        <td><input type="text" size=25 name="code"></td>
        <button type="submit" name="R_OTP">Request OTP</button> <!--Adds a button for logging in-->
        <button type="submit" name="Login">Log in</button> <!--Adds a button for logging in-->
    </form>
    
    <form action="/login/register"> <!--Shows Register button at login screen-->
    <button class="btn btn-primary btn-sm" type="submit">Register</button>
    </form>

    {% else %} <!--Show this page which only shows username when user is already logged in-->
    <form method="post">
        {% csrf_token %}
        <tr>
            <td>Username:</td>
            <td>{{user.username}}</td>
            <td>Email:</td>
            <td>{{user.email}}</td>
        </tr>
    </form>    
    {% endif %}
{% endblock%}