{% extends 'login/base.html' %}
{% block title %}Login page{% endblock %}
{% block content %}
{% load static%}
<div class="box_col">
    {% if not user.is_authenticated %}
    <strong><p style="text-align: center; margin-bottom: 1.5rem; font-size:1.25rem;">Login !</p></strong>
    {% else %}
    <strong><p style="text-align: center; margin-bottom: 1.5rem; font-size:1.25rem;">User Info !</p></strong>
    {% endif %}
    <div class="box-outer-content">
        <div class="box-inner-content">
            {% if not user.is_authenticated %} <!--Show this page user is not already logged in-->
            <form action="" method="post">
                {% csrf_token %} <!--Cross Site Reference Token, Used to validate forms. Mandatory for sending data-->
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username" value="{{data.username}}" Required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" value="{{data.password}}" Required>
                </div>
                <div class="form-group">
                    <label>Verification Code</label>
                    <input type="text" class="form-control" placeholder="Press button below for code" name="code">
                    
                    <button type="submit" style="padding: .4rem ;margin-top:.40rem; width:50%" name="R_OTP"> <!--Adds a button for Requesting OTP-->
                        <div class="button_div">
                            <img style="width:15%" src="{%static "/icons/password.png"%}"/>
                            <span style="padding-left:8px; font-size:15px;">Request OTP</span>
                        </div>
                    </button> 
                </div>
                <div class="Buttons">
                    <button type="submit" class="btn" name="Register" formnovalidate> <!--Adds a button for Register-->
                        <div class="button_div">
                            <img style="width:15%" src="{%static "/icons/personal.png"%}"/>
                            <span style="padding-left:8px; font-size:15px;">Register</span>
                        </div>
                    </button> 
                    <button type="submit" class="btn" style="margin-left: 0.5rem;" name="Login">
                        <div class="button_div">
                            <img style="width:15%" src="{% static "/icons/log-in.png"%}"/>
                            <span style="padding-left:8px; font-size:15px;">Log in</span>
                        </div>
                    </button> <!--Adds a button for logging in-->
                </div>
                <div class="button_div">
                    <a style="font-size: 15px" href="/credits">Credits</a>
                </div>
            </form>

            {% else %} <!--Show this page which only shows username when user is already logged in-->
            <form method="post">
                {% csrf_token %}
                <tr>
                    <td>Username:</td>
                    <td>{{user.username}}</td>
                    <br>
                    <td>Email:</td>
                    <td>{{user.email}}</td>
                </tr>
            </form>
            <div style="display:flex">        
                <form action="/pass">
                    <button type="submit">Back</button>
                </form>
                <form action="/login/logout/" method="post">
                    {% csrf_token %}
                    <button type="submit">Log Out</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock%}