<html>
<head>
    <title>Verifying Page</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <table width="20%" bgcolor="0099CC" align="center">
        <tr>
            <td colspan=2>
                <center><font size=4><b>User Login Page</b></font></center>
            </td>
        </tr>
        <tr>
            <td>Verification Code:</td>
            <td><input type="text" size=25 name="code"></td>
        </tr>
        <tr>
            <td><input type="submit" onclick="return check(this.form)" value="Login"></td>
        </tr>
    </table>
</form>
</body>
</html>
