{% extends 'fpass/base.html' %}
{% block Heading%}
{% endblock %}
{% block title %}Home page{% endblock %}
{% block content %}
<h1>Password Mangerialsness page !</h1>

<h2>Hello, {{user.username}}</h2>

<style>
.myDiv {
  border: 1px outset black;
  background-color: white;
  text-align: left;
}
.UD_button {
  display: flex;
  margin: 1em;
}
</style>

{% for data in Creds %}
<div class = "myDiv" style="width:50%">

  <p style="margin-top: 10px">{{ data.id }}. Description: {{data.Description}}</p>
  <p style="padding-left: 15px">Username: {{data.Name}}</p>
  <p style="padding-left: 15px">Password: {{data.Password}}</p>
  <p style="padding-left: 15px">Entry type: {{data.p_type}}</p>
  
  <div class="UD_button">
      <form action="update/{{ data.id }}">
        <button style="margin-right: 10px" type="submit" id="{{data.id}}">Update</button>
      </form>
      <form action="delete/{{ data.id }}">
        <button type="submit">Delete</button>
      </form>
    </div>
</div>
{% endfor %}
<!--For this part, make another style that will make it stick to the right of the screen for register. This is for adding new passwords-->
<form method="post">
    {% csrf_token %}
    <p>Description:</p>
    <p><input type="text" size=25 name="Description"></p>
    <p>Username:</p>
    <td><input type="text" size=25 name="username"></p>
    <p>Password:</p>
    <p><input type="text" size=25 name="password"></p>
    <label for="Password_Type">Choose Entry Type:</label>
    <select name="p_type">
      <option value="General" selected>General</option>
      <option value="Banking">Banking</option>
      <option value="Login">Login</option>
      <option value="Email">Email</option>
    </select>
    <button type="submit" value="fcreate">Add entry</button>
</form>


{% endblock content%}