{% extends 'fpass/base.html' %}
{% block Heading%}
{% endblock %}
{% block title %}The Contents{% endblock %}
{% block content %}
<div class="sidebar">
  <nav>
  <a onclick="cat_filter(event)" name="All">All Entry</a>
  <a onclick="cat_filter(event)" name="General">General</a>
  <a onclick="cat_filter(event)" name="Email">Email</a>
  <a onclick="cat_filter(event)" name="Login">Login</a>
  <a onclick="cat_filter(event)" name="Banking">Banking</a>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <a href="/login/">User Info</a>
  <a href="/login/logout/">Log out</a>
  </nav>
</div>

<div id = "Diborder_entry">
{% for data in Creds %}
<div class = "myDiv" id = "Dib">
  <ul class="myUL">
  <li><p style="margin-top: 10px">{{ data.id }}. Description: {{data.Description}}</p></li>
  <li><p style="padding-left: 15px">Username: {{data.Name}}</p></li>
  <li><p style="padding-left: 15px">Password: {{data.Password}}</p></li>
  <li><p style="padding-left: 15px">Entry type: {{data.p_type}}</p></li>
  
  <div class="UD_button">
      <form action="update/{{ data.id }}">
        <button style="margin-right: 10px" type="submit" id="{{data.id}}">Update</button>
      </form>
      <form action="delete/{{ data.id }}">
        <button type="submit">Delete</button>
      </form>
    </div>
  </ul>
</div>
{% endfor %}
</div>
<div class="right_column">
<div class="Search_box">
  <p>Search</p>
  <input type="text" id="myInput" onkeyup="filter()" placeholder="Search for Description...">
</div>
<!--For this part, make another style that will make it stick to the right of the screen for register. This is for adding new passwords-->
<div class="new_entry">
  <form method="post">
    {% csrf_token %}
    <p>Description:</p>
    <p><input type="text" size=25 name="Description"></p>
    <p>Username:</p>
    <td><input type="text" size=25 name="username"></p>
    <p>Password:</p>
    <p><input type="text" size=25 name="password"></p>
    <label for="Password_Type">Choose Entry Type:</label>
    <select name="p_type">
      <option value="General" selected>General</option>
      <option value="Banking">Banking</option>
      <option value="Login">Login</option>
      <option value="Email">Email</option>
    </select>
    <br><br>
    <button type="submit" style="padding: 10px; margin-bottom: 10px"  value="fcreate">Add entry</button>
  </form>
</div>
</div>

<script>
  function filter() {
    // Declare variables
    var input, filter, ul, li, a, i, txtValue, div;
    input = document.getElementById('myInput');
    div = document.getElementsByClassName('myDiv');
    filter = input.value.toUpperCase();
    ul = document.getElementsByClassName("myUL");
    console.log("Filtering for: " + filter);
    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < ul.length; i++) {
      a = ul[i].getElementsByTagName("p")[0];
      txtValue = a.textContent;
      if (txtValue.slice(16).toUpperCase().indexOf(filter) > -1) {
        div[i].style.display = "";
      } else {
        div[i].style.display = "none";
      }
    }
  }

  function cat_filter(e) {
    // Declare variables
    var cat_filter_value, ul, a, i, txtValue, div;
    cat_filter_value = e.target.name;
    div = document.getElementsByClassName('myDiv');
    ul = document.getElementsByClassName("myUL");
    // Loop through all list items, and hide those who don't match the search query
    console.log("Filtering for Entry Type: " + cat_filter_value);
    for (i = 0; i < ul.length; i++) {
      a = ul[i].getElementsByTagName("p")[3];
      txtValue = a.textContent || a.innerText;
      if (cat_filter_value === "All"){
        div[i].style.display = "";
      }
      else if (txtValue.toUpperCase().indexOf(cat_filter_value.toUpperCase()) > -1) {
        div[i].style.display = "";
      } 
      else {
        div[i].style.display = "none";
      }
    }
  }
</script>

{% endblock content%}