{% extends 'fpass/base.html' %}
{% block Heading%}
{% endblock %}
{% block title %}Entry Updating !{% endblock %}
{% block content %}
<div class="box_col">
    <h1 style="text-align: center; margin-bottom: 1.5rem;">Entry Update !</h1>
    <div class="box-outer-content">
        <div class="box-inner-content">
            <form action="/updaterecord/{{ Creds.P_Id }}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Description:</label>
                    <input class="form-control" name="Description" value="{{ Creds.Desc }}">
                </div>
                <div class="form-group">
                    <label>Username:</label>
                    <input class="form-control" name="username" value="{{ Creds.Username }}">
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input class="form-control" name="password" value="{{ Creds.Password }}">
                </div>
                <div class="form-group">
                    <label>Entry Type:</label>
                    <select style="display:block; padding: 10px" name="P_type" id="P_type" value="{{ Creds.P_type }}">
                        <option value="General">General</option>
                        <option value="Banking">Banking</option>
                        <option value="Login">Login</option>
                        <option value="Email">Email</option>
                    </select>
                </div>
                
                <div class="Buttons">
                    {% load static %}
                    <form action="/pass">
                        <button type="submit" class="btn"  name="back" formnovalidate>
                            <div class="button_div">
                                <img style="width:8%" src="{%static "/icons/back-button.png"%}"/>
                                <span style="padding-left:8px; font-size:15px;">Back</span>
                            </div>
                        </button>
                    </form>
                    <button type="submit" class="btn" style="margin-left: 0.5rem;" value="Submit">
                        <div class="button_div">
                            <img style="width:8%" src="{%static "/icons/save.png"%}"/>
                            <span style="padding-left:8px; font-size:15px;">Save</span>
                        </div>
                    </button>
                </div>
            </form>
        </div>    
    </div>    
</div>    

<script>
    $(function() {
        var temp="{{Creds.P_type}}"; 
        $("#P_type").val(temp);
    });
</script>
{% endblock %}