{% extends 'fpass/base.html' %}
{% block Heading%}
{% endblock %}
{% block title %}Update page{% endblock %}
{% block content %}
<h1>Password Updating page !</h1>

<form action="/updaterecord/{{ Creds.id }}" method="post">
    {% csrf_token %}
    Inital Description:<br>
    <input name="Description" value="{{ Creds.Description }}">
    <br><br>
    Inital Username:<br>
    <input name="username" value="{{ Creds.Name }}">
    <br><br>
    Initial Password:<br>
    <input name="password" value="{{ Creds.Password }}">
    <br><br>
    Initial Entry Type:<br>
    <select name="p_type" id="p_type" value="{{ Creds.p_type }}">
        <option value="General">General</option>
        <option value="Banking">Banking</option>
        <option value="Login">Login</option>
        <option value="Email">Email</option>
    </select>
    <br><br>

    <input type="submit" value="Submit">
    </form>
    <script>
        $(function() {
            var temp="{{Creds.p_type}}"; 
            $("#p_type").val(temp);
        });
    </script>
{% endblock %}